.manga-block {
    padding: 7px;
    width: 250px;
    height: 400px;
}

.bg-dark-1 {
    background-color: #36454F;
}

.text-decoration-none {
    text-decoration: none;
}

.main-cover {
    max-height: 500px;
}