:root
{
  --manga-block-padding: 7px;
  --manga-block-max-height: 400px
}

.manga-block
{
    padding: var(--manga-block-padding);
    max-height: var(--manga-block-max-height);
    width: 250px;
    border-radius: 1%;
}

.manga-block img
{
    max-height: calc(var(--manga-block-max-height) - 6 * var(--manga-block-padding));
}

.scan-block {
    padding: 20px;
    min-width: 200px;
    max-width: 300px;
    max-height: 250px;
}

.img-block {
    padding: 10px;
    width: 300px;
    max-height: 500px;
}

.bg-dark-1 {
    background-color: #36454F;
}

.bg-light-1 {
    background-color: #D3D3D3 !important;
}

.text-success-1 {
    color: greenyellow;
}

.list-group-item-dark-1 {
    background-color: #37373800 !important;
    /* background-color: #212529 !important; */
}

.text-decoration-none {
    text-decoration: none;
}

a:hover.black-hover {
    color: black;
}

.main-cover {
    max-height: 500px;
}

.profile-img {
    min-width: 150px;
}

textarea {
    resize: none !important;
}
